<% layout("layouts/boilerplate.ejs") %>
<body>
  <div>
    <form action="/products/create" method="post" id="product-form">
      <h1 id="title">Add New Product</h1>
      <input
        name="ProductName"
        type="text"
        placeholder="Product Name"
        id="ProductName"
      />
      <input
        name="ProductPrice"
        type="number"
        min="1"
        placeholder="Product Price"
        id="ProductPrice"
      />

      <input
        name="Description"
        type="text"
        placeholder="Discription"
        id="Description"
      />
      <input name="imgUrl" type="text" placeholder="image Url" id="imgUrl" />

      <div class="options">
        <select id="categorySelect">
          <option value="">Select Category</option>
        </select>
      </div>

      <div class="btn-add">
        <button id="add-btn">Add Product</button>
      </div>
    </form>
  </div>
  <script src="/js/product.js"></script>
</body>
