<% layout("layouts/boilerplate.ejs") %>
<body>
  <form action="/products/create" method="post">
    <input name="ProductName" type="text" placeholder="Product Name" />
    <input name="ProductPrice" type="text" placeholder="Product Price" />
    <input name="Description" type="text" placeholder="Discription" />
    <input name="imgUrl" type="text" placeholder="image Url" />
    <input type="submit" value="Create" />
  </form>
</body>
