<body>
  <p><b>Login</b></p>
  <form action="/user/login" method="post">
    <input type="email" name="email" placeholder="Enter Email" /><br /><br />
    <input
      type="password"
      name="password"
      placeholder="Enter password"
    /><br /><br />

    <button type="submit">Login</button>
  </form>
</body>
