<% layout('layouts/boilerplate.ejs') %>
<body>
  <div class="container-category">
    <div class="sub-container">
      <div class="btn-add-new-category">
        <button id="add-new-category">+ Add new category</button>
      </div>
    </div>
  </div>

  <script src="/js/category.js"></script>
</body>
