<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="back-arrow-div">
    <i class="ri-arrow-left-fill" id="back-arrow"></i>
  </div>
  <form
    action="/category/edit/<%= category._id  %>"
    method="post"
    id="category-edit-form"
    enctype="multipart/form-data"
  >
    <h3 id="title">Edit category</h3>
    <input
      type="text"
      placeholder="Enter new category (e.g. Pizza)"
      name="category"
      id="category"
      value="<%= category.category  %>"
    />

    <div class="img-div">
      <img src="<%= category.categoryImgUrl  %>" alt="" />
      <input type="file" name="categoryImgUrl" accept="image/*" required />
    </div>

    <div class="btn">
      <button
        id="edit-category"
        onclick="editCategory(event,'<%= category._id %>')"
      >
        Edit
      </button>
    </div>
  </form>
  <script src="/js/edit_category.js"></script>
</body>
