<div class="dashboard">
  <div class="profile-ui-section">
    <div class="img-circle">
      <% if (currUser) { %> <% if (currUser.profile ==="") { %>
      <img
        src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=ejx13G9ZroRrcg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-young-user-icon-2400.png&ehk=NNF6zZUBr0n5i%2fx0Bh3AMRDRDrzslPXB0ANabkkPyv0%3d&risl=&pid=ImgRaw&r=0"
        alt=""
      />
      <% } %> <% if (currUser.profile !== ""){ %>
      <img src="<%= currUser.profile  %>" alt="" />
      <% } %>
    </div>
    <%= currUser.name %> <% } %>
  </div>
  <div class="line"></div>
  <div class="dash-links">
    <div class="link" id="menus">
      <i class="ri-restaurant-2-fill"></i>
      Menus
    </div>
    <div class="link" id="orders">
      <i class="ri-list-ordered"></i>
      My Orders
    </div>
    <div class="link" id="add-product">
      <i class="ri-cake-3-fill"></i>
      Add Product
    </div>
    <div class="link" id="add-category">
      <i class="ri-menu-search-line"></i>
      Add Category
    </div>
    <div class="link" id="profile">
      <i class="ri-user-line"></i>
      Profile
    </div>
    <!-- show only if user is logged in -->
    <% if (currUser) { %>
    <div class="link" id="logout-btn">
      <i class="ri-logout-circle-r-line"></i>
      Logout
    </div>
    <% } %>
  </div>
</div>
