<div class="dashboard">
  <div class="profile-ui-section">
    <div class="img-circle">
      <img
        src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=ejx13G9ZroRrcg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-young-user-icon-2400.png&ehk=NNF6zZUBr0n5i%2fx0Bh3AMRDRDrzslPXB0ANabkkPyv0%3d&risl=&pid=ImgRaw&r=0"
        alt=""
      />
    </div>
    <% if (currUser) { %> <%= currUser.name %> <% } %> <% if (!currUser) { %> No
    User!. <% } %>
  </div>
  <div class="line"></div>
  <div class="dash-links">
    <div class="link" id="menus">
      <i class="ri-restaurant-2-fill"></i>
      Menus
    </div>
    <div class="link" id="orders">
      <i class="ri-list-ordered"></i>
      My Orders
    </div>
    <div class="link" id="cart">
      <i class="ri-shopping-cart-2-line"></i>
      Cart
      <span id="items-count">0</span>
    </div>
    <div class="link" id="profile">
      <i class="ri-user-line"></i>
      Profile
    </div>
    <!-- show only if user is logged in -->
    <% if (currUser) { %>
    <div class="link" id="logout-btn">
      <i class="ri-logout-circle-r-line"></i>
      Logout
    </div>
    <% } %>
    <!-- show only if user is logged out  -->

    <% if (!currUser) { %>
    <div class="link" id="login-btn">
      <i class="ri-login-box-line"></i>
      Login
    </div>
    <div class="link" id="signup-btn">
      <i class="ri-registered-line"></i>
      Signup
    </div>
    <% } %>
  </div>
</div>
