<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- home  -->

    <button id="logout-btn">Logout</button>
  </body>

  <script>
    document
      .getElementById("logout-btn")
      .addEventListener("click", async (e) => {
        try {
          const response = await axios.post(
            "/auth/logout",
            {},
            { withCredentials: true }
          );

          if (response.data.success) {
            alert(response.data.message);
            location.replace("/auth/login?");
          }
        } catch (error) {
          if (error.response) {
            alert(error.response.data.message);
          }
        }
      });
  </script>
</html>
