<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form action="/auth/reset/password" method="post" id="reset-password-form">
      <input
        type="password"
        placeholder="Enter new password.."
        name="password"
        id="password"
        required
      />
      <br />
      <input
        type="text"
        placeholder="Re-type new Password"
        id="confirmPassword"
        required
      />

      <button id="btnReset">Reset</button>
    </form>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const reset_password_form = document.getElementById(
          "reset-password-form"
        );
        if (!reset_password_form) {
          console.log("form not found");
          return;
        }

        document
          .getElementById("btnReset")
          .addEventListener("click", async (e) => {
            e.preventDefault();
            const password = document.getElementById("password").value;
            const confirmPassword =
              document.getElementById("confirmPassword").value;

            const email = "<%= email ? email: ''%>";
            if (password.trim() === "") {
              alert("password should not be empty");
              return;
            }

            if (password !== confirmPassword) {
              alert("password does not match");
              return;
            }

            try {
              const userData = {
                password,
                email,
              };

              const response = await axios.post(
                "/auth/reset/password",
                userData,
                {
                  headers: { "Content-Type": "application/json" },
                }
              );

              if (response.data.success) {
                alert(response.data.message);
                location.replace("/auth/login");
                return;
              } else {
                alert(response.data.message);
                return;
              }
            } catch (error) {
              alert(error.response.data.message || "something went wrong");
              return;
            }
          });
      });
    </script>
  </body>
</html>
