<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Reset Password OTP</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h3>Verify Reset Password</h3>
    <form action="/auth/reset/password/verify" method="post" id="verify-form">
      <input
        type="text"
        placeholder="Enter OTP"
        name="reset_password_verification_token"
        id="otp"
        required
      />

      <button id="verify">Verify</button>

      <button id="resend-btn">Resend OTP</button>
    </form>

    <script>
      alert("<%= response ? response : '' %>");
      document.addEventListener("DOMContentLoaded", function () {
        const verifyForm = document.getElementById("verify-form");
        if (!verifyForm) {
          console.log("form not found");
          return;
        }

        document
          .querySelector("#verify")
          .addEventListener("click", async (e) => {
            const otp = document.getElementById("otp").value;

            //check
            if (otp.trim() === "") {
              alert("otp should not be empty");
              return;
            }

            try {
              const formData = new FormData(verifyForm);

              const userData = {
                reset_password_verification_token: formData.get(
                  "reset_password_verification_token"
                ),
              };

              const response = await axios.post(
                "/auth/reset/password/verify",
                userData,
                {
                  withCredentials: true,
                  headers: { "Content-Type": "application/json" },
                }
              );

              if (response.data.success) {
                alert(response.data.message);
                location.replace(
                  `/auth/reset/password?email=${encodeURIComponent(
                    response.data.email
                  )}`
                );
                return; // Redirect after verifying
              } else {
                alert(response.data.message);
                return;
              }
            } catch (error) {
              alert(error.response.data.message);
              return;
            }
          });

        document
          .querySelector("#resend-btn")
          .addEventListener("click", async (e) => {
            e.preventDefault();

            setTimeout(() => {
              window.location.reload();
            }, 2000);
          });
      });
    </script>
  </body>
</html>
