.edit-form {
}
.edit-form h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: larger;
}
#update {
  background-color: var(--color-primary);
  color: white;
  text-transform: uppercase;
  padding: 3px 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.btn-update {
  display: flex;
  align-items: center;
  justify-content: center;
}
#update:hover {
  background-color: var(--color-success);
}
.img-div {
  /* border: 1px solid red; */
  height: 50px;
  padding: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}
.img-div img {
  width: 50px;
  height: 100%;
  border-radius: 8px;
}
