body {
  background: #eee;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.4px;
}

.heading {
  text-align: center;
  margin: 10px 0px;
}

.btn {
  text-align: center;
}
.btn button {
  height: 40px;
  width: 150px;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  font-weight: 600;
  color: white;
  border-radius: 7px;
}

.btn button:hover {
  background-color: var(--color-btn-hover);
  color: white;
  cursor: pointer;
}
.forgot-pass {
  text-align: end;
  margin-bottom: 10px;
}
.forgot-pass p {
  font-weight: 600;
  color: var(--color-primary);
  letter-spacing: 1px;
}
.signup-form {
  text-align: center;
  margin: 15px 0px;
}
.signup-form p {
  font-weight: 500;
  color: black;
}
.signup-form p span {
  color: var(--color-primary);
  font-weight: 650;
  cursor: pointer;
}
