body {
  background-color: #eee;
}
#btnReset {
  background-color: var(--color-primary);
  color: white;
  outline: none;
  border: none;
  padding: 6px 15px;
  font-weight: 670;
  text-transform: uppercase;
  font-size: 0.86rem;
  letter-spacing: 1px;
}
#btnReset:hover {
  cursor: pointer;
  background-color: var(--color-black-third);
}
