body {
  background-color: #eee;
}

.heading {
  text-align: center;
  margin: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  text-align: center;
}
.btn button {
  padding: 8px 15px;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  font-weight: 600;
  color: white;
  border-radius: 7px;
}

.btn button:hover {
  background-color: var(--color-btn-hover);
  color: white;
  cursor: pointer;
}

.login {
  text-align: center;
  margin-top: 10px;
}
.login p {
  font-weight: 520;
}
.login p span {
  color: var(--color-primary);
  letter-spacing: 1px;
  font-weight: 650;
  cursor: pointer;
}
