<% layout("layouts/user_partials.ejs") %>

<body>
  <div class="form">
    <form action="/auth/login" method="post" id="login-form">
      <div class="heading">
        <h2>Login into your account</h2>
      </div>

      <div class="email-field">
        <input
          type="email"
          placeholder="enter email"
          name="email"
          required
          id="email"
        />
      </div>

      <div class="password-field">
        <input
          type="password"
          placeholder="enter password"
          name="password"
          required
          id="password"
        />
      </div>

      <div class="forgot-pass">
        <a href=""><p id="forgot-btn">Forgot Password?</p></a>
      </div>

      <div class="btn">
        <button>Sign in</button>
      </div>

      <div class="signup-form">
        <p>New user ? <span id="signup-btn">Signup</span></p>
      </div>
    </form>
  </div>

  <!-- sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="/js/index.js"></script>
  <script src="/js/login.js"></script>
</body>
