<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="reset-password">
    <form action="/auth/reset/password" method="post" id="reset-password-form">
      <h3>Reset new password</h3>

      <input
        type="password"
        placeholder="Enter new password.."
        name="password"
        id="password"
        required
      />

      <input
        type="text"
        placeholder="Re-type new Password"
        id="confirmPassword"
        required
      />

      <button id="btnReset">Reset</button>
    </form>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const reset_password_form = document.getElementById(
        "reset-password-form"
      );
      if (!reset_password_form) {
        console.log("form not found");
        return;
      }

      document
        .getElementById("btnReset")
        .addEventListener("click", async (e) => {
          e.preventDefault();
          const password = document.getElementById("password").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;

          const email = "<%= email ? email: ''%>";
          if (password.trim() === "") {
            alert("password should not be empty");
            return;
          }

          if (password !== confirmPassword) {
            alert("password does not match");
            return;
          }

          try {
            const userData = {
              password,
              email,
            };

            const response = await axios.post(
              "/auth/reset/password",
              userData,
              {
                headers: { "Content-Type": "application/json" },
              }
            );

            if (response.data.success) {
              showSuccessAlert(response.data.message);
              setTimeout(() => {
                location.replace("/auth/login");
              }, 5000);
              return;
            } else {
              showErrorAlert(response.data.message);
              return;
            }
          } catch (error) {
            showErrorAlert(
              error.response.data.message || "something went wrong"
            );
            return;
          }
        });
    });
  </script>
</body>
