<% layout('layouts/boilerplate.ejs') %>
<body>
  <div class="reset-form">
    <form action="/auth/reset/password/verify" method="post" id="verify-form">
      <h3>Verify Reset Password</h3>
      <input
        type="email"
        placeholder="Enter email"
        required
        id="email"
        name="email"
      />

      <button id="send-btn">Send Link</button>

      <div class="resend">
        <p id="resend-otp-text"></p>
        <button id="resend-btn">Resend OTP</button>
      </div>
    </form>
  </div>

  <!-- sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const verifyForm = document.getElementById("verify-form");
      const sendBtn = document.getElementById("send-btn");
      const resentText = document.getElementById("resend-otp-text");
      const resendBtn = document.getElementById("resend-btn");

      if (!verifyForm) {
        console.log("form not found");
        return;
      }

      sendBtn.addEventListener("click", async (e) => {
        e.preventDefault();

        const email = document.getElementById("email").value;
        if (email === "") {
          showErrorAlert("email is mandatory");
          return;
        }

        try {
          const formData = new FormData(verifyForm);

          const userData = {
            email: formData.get("email"),
          };

          const response = await axios.post(
            "/auth/send/reset/password/token",
            userData,
            {
              withCredentials: true,
              headers: { "Content-Type": "application/json" },
            }
          );

          if (response.data.success) {
            showSuccessAlert(response.data.message);
            
          } else {
            showErrorAlert(response.data.message);
          }
        } catch (error) {
          showErrorAlert(error.response.data.message);
        }
      });

      resendBtn.addEventListener("click", async (e) => {
        e.preventDefault();
        resentText.style.display = "block";
        setTimeout(() => {
          window.location.reload();
        }, 2000);
      });
    });
  </script>
</body>
