<% layout('layouts/boilerplate.ejs') %>
<body>
  <div class="form">
    <form action="/auth/register" method="post" id="signup-form">
      <div class="heading">
        <h2>Signup</h2>
      </div>

      <div class="name-field">
        <input
          type="text"
          placeholder="enter name"
          name="name"
          required
          id="name"
        />
      </div>

      <div class="email-field">
        <input
          type="email"
          placeholder="enter email"
          name="email"
          required
          id="email"
        />
      </div>

      <div class="password-field">
        <input
          type="password"
          placeholder="enter password"
          name="password"
          required
          id="password"
        />
      </div>

      <div class="confirmPassword">
        <input
          type="text"
          placeholder="re-type password"
          name="confirmPassword"
          required
          id="confirmPassword"
        />
      </div>

      <div class="phone">
        <input
          type="text"
          placeholder="enter phone number"
          required
          name="phone"
          id="phone"
        />
      </div>

      <div class="btn">
        <button>Create Account</button>
      </div>
    </form>
  </div>

  <!-- sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="/js/index.js"></script>
  <script src="/js/signup.js"></script>
</body>
