<% layout("layouts/boilerplate.ejs") %>

<body>
  <div class="verification-form">
    <form action="/auth/verify" method="post" id="verification-form">
      <h3>Verify Email using OTP</h3>
      <input
        type="text"
        name="verification_token"
        placeholder="Enter OTP"
        id="verification_token"
      />

      <button id="verify">Verify</button>
      <button id="sendBtn">get OTP</button>

      <div class="resend-btn">
        <p id="resend-in">Resend in : 60 sec</p>
        <button id="resendbtn">Resend OTP</button>
      </div>
    </form>
  </div>

  <script src="/js/email_verify.js"></script>
</body>
